@import 'bootstrap';

body {
  font-family: sans-serif;
  background:radial-gradient(ellipse closest-side, white, lightgreen 5%, black 30%, white);
  background-repeat:no-repeat;
  background-position: calc(100% + 240px) calc(100% + 150px);
  background-attachment: fixed;
}

.icon-flag {
    display: inline-block;
    height: 14px;
    width: 20px;
}

.avatar {
    display: inline-block;
    height: 15px;
    width: 15px;
}
