<div class="form-horizontal">
  <div class="form-group">
    <div class="col-sm-4">
      {{input type="text" value=model.name class="form-control" placeholder="The name of the Team"}}
    </div>
    <div class="col-sm-4">
      {{input type="text" value=model.fecha class="form-control" placeholder="Edition"}}
    </div>
    <div class="col-sm-4">
      <button type="submit" class="btn btn-success" {{action 'saveTeam' model}}><span class="glyphicon glyphicon-save" aria-hidden="true"></span></button>
    </div>
  </div>
</div>
