<div class='well'>
<h3>BASES DEL CONCURSO</h3>
<p>Son las mismas que en ediciones anteriores, no obstante, se detallan a continuación por si algún participante necesitara recordarlas.</p>
<div class="jumbotron">
<h3>BASES</h3>
<ul>
<li>El precio de inscripción es de 10 € por persona para los participantes y 20 € para los que asisten fuera de concurso (*de esta última tasa queda exento D. Fernando Vigara al proveer de bebida a todos los participantes), el dinero debe ser entregado en el periodo de recepción de concursantes a la tesorera de la organización Dña. Ángeles García y el dinero recaudado se destinará íntegramente a los premios del concurso.</li>
<li>Cada concursante deberá elaborar un mínimo de 35 pintxos (la organización recomienda elaborar alguno más para evitar cualquier imprevisto)</li>
<li>En la cocina trabajarán simultáneamente los tres equipos cuya entrega de pintxo es más próxima (teniendo prioridad sobre la gestión de espacios las parejas cuya participación es anterior), cuando la primera pareja haya finalizado, su espacio lo ocupará una nueva siguiendo el mismo criterio. De este modo cada pareja dispondrá aproximadamente de 45 minutos para elaborar su pintxo.</li>
<li>Cuando una pareja finaliza deberá recoger, limpiar y ordenar todo lo que haya utilizado.</li>
<li>En el momento en el que una pareja termine de elaborar su pintxo deberá gritar “habemus pintxo” al tiempo que acciona el complejo dispositivo sonoro que la organización adquirió para tal efecto la pasada edición. Al oír la señal todos los participantes y asistentes deberán acudir a degustar el pintxo, previamente,  la pareja en cuestión deberá explicar sus ingredientes, elaboración, técnicas empleadas,… así como su nombre.</li>

</ul>
</div>

<div class="jumbotron">
<h3>CATEGORÍAS DE PREMIOS</h3>
<ul>
{{#each categories as |category|}}
<li><span class="label-success">{{category.name}}</span>
{{category.description}}</li>
{{/each}}
</ul>
<ul>
<li>Respecto al valor de las categorías en su relación con los premios, se dará un poco de mayor importancia a aquellas que están directamente relacionadas con el arte culinario, en este sentido se establecen tres categorías de premios que en orden decreciente de importancia son las que son las dos primeras, las tres segundas y las dos últimas.</li>
</ul>
</div>

<div class="jumbotron">
<h3>VOTACIONES</h3>
<ul>
<li>Para la elección de los tres mejores pintxos cada persona votará a sus tres preferidos otorgando 5 puntos al primero, 3 al segundo y 1 al tercero. En caso de empate para cualquiera de estos tres premios ganará el que haya obtenido mayor número de “5”, y si aún persistiera el que haya obtenido más “3”, de seguir empatados el premio se otorgaría ex aequo a las parejas implicadas.</li>
<li>Para el resto de categorías los asistentes votarán sólo un pintxo en cada una de ellas otorgando 1 punto. En caso de empate el premio se otorgaría <i>ex aequo</i> a las parejas implicadas.</li>
<li>El sistema de votaciones se llevara a cabo usando la <a href="https://pintxokaos-bd3cf.firebaseapp.com">aplicación</a> que Don. Fernando Martínez-Conde elaboró <i>ex profeso</i>, no obstante, se llevará alguna papeleta (que no podrá ser anónima) por si alguien prefiriese el sistema tradicional y que EGM (El Gran Macorra) lo digitalice en su nombre.</li>
<li>Ningún participante podrá votar al equipo que pertenece.</li>
</ul>
</div>

<div class="jumbotron">
<h3>RECOMENDACIONES</h3>
<ul>
<li>Se vuelve a insistir en la importancia de la puntualidad, si algún asistente no se encuentra presente a la hora de degustar un pintxo ello representa, no sólo una desconsideración hacia el esfuerzo realizado por otros, sino también un claro perjuicio a la pareja en cuestión pues perderá la posibilidad de ser votado por el ausente.</li>
<li>Se recuerda que entre los asistentes hay una persona con intolerancia a la manzana.</li>
<li>Se recomienda que cada participante traiga sus propios elementos en los que va a presentar el pintxo.</li>
</ul>
</div>

<div class="jumbotron">
<h3>RUEGOS</h3>
<ul>
<li>Se solicita a D. Fernando Vigara y Dña. Sol Guzmán que:</li>
<ol>
  <li>Tengan toda la encimera de la cocina limpia y libre de objetos para poder trabajar y la nevera lo más vacía posible.</li>
  <li>Hagan acopio de cervezas frías.</li>
</ol>

<li>Se solicita a D. Fernando Vigara Martín que, a ser posible, y dada su buena pluma, escriba en los días venideros uno o varios artículos periodísticos sobre las perspectivas del concurso y de cada participante en la presente edición (y lo envíe por este mismo canal).</li>
<li>Se solicita a uno o varios voluntarios que traigan cajas/cestas (o similares) decoradas como merece la ocasión para depositar y entregar los premios.</li>
<li>Se encargarán unas pizzas o similar, a cargo de los padres que así lo deseen, para que coman los menores de edad.</li>
<li>Por parte de la organización, no queda más que animar a todos los participantes en la recta final y mostrar su cooperación a cualquier efecto.</li>
</ul>
<h4>PICA (Pintxo International Cooking Association)</h4>
</div>

</div>

<!--div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        Collapsible Group 1</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
      <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
        Collapsible Group 2</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
        Collapsible Group 3</a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.</div>
    </div>
  </div>
</div-->
{{outlet}}
