
{{#if session.isAuthenticated}}
	<div class='page-header'>  
	    <h1>De momento sólo estás autorizao a salir</h1>
	</div>  
	<div class='jumbotron'>
	<p>Pero mola saber que esto sólo lo lees si estás autenticado de verdá como usuario registrado.</p>
	</div>  
 {{else}}
	<div class='page-header'>  
	    <h1>Hooola</h1>
	</div>  
	<div class='jumbotron'>
	<p>Como no estás logado estás viendo lo que ve tol mundo</p>
	</div> 
{{/if}}
