<h1> 
<span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span> {{t 'construction'}}</h1>
  <ul>
    {{#link-to 'pintxos.index' class='btn btn-info' tagName="li"}}<a href=""><span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span> <span class="glyphicon glyphicon-list" aria-hidden="true"></span></a>{{/link-to}}
    {{#link-to 'pintxos.new' class='btn btn-info' tagName="li"}}<a href=""><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>{{/link-to}}
  </ul>
{{outlet}}
