<div class='well'>
<h3>PROGRAMA DEL CONCURSO</h3>
	<div class='jumbotron'>
    <ul>
<li><span class="label-success">12:45</span> Recepción de participantes (se ruega máxima puntualidad)</li>
<li><span class="label-success">13:15</span> Presentación de los concursantes y Gran pregón de inicio de concurso a cargo de Dña. Blanca García (como representante de la pareja vencedora de la pasada edición)</li>
<li>
  <span class="label-success">13:30 - 16:15</span> Degustación de los pintxos en este 
  {{#link-to 'orden' class='btn btn-default'}}orden<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>{{/link-to}}
</li>
<li><span class="label-success">17:00</span> Alegatos de los participantes</li>
<li><span class="label-success">17:45</span> Votaciones</li>
<li><span class="label-success">18:00</span> Recuento de votos</li>
<li><span class="label-success">18:30</span> Ceremonia de premios oficiada por el gran Macorra</li>
</ul>
	</div>
</div>
{{outlet}}
